@import 'src/xapi-theme.scss';

.xapi-iban-submit{
    margin-left: 20px;
}

.xapi-iban-input{
  input{
    width: 400px;
  }
}

.xapi-iban-search-result{
  color: green;

  &.error{
    color: red;
  }

  p{
    margin: 5px 0;
  }
}
